---
slug: 'blog/post'
format: html
layout_name: 'modules/dashboard_blog/blog'
---
{% assign url = "https://" | append: context.location.host | append: context.location.href %}

{%- capture url_template -%}
{% if params.language %}/{lang}{%- endif -%}/blog/post/{blog_slug}/{post_slug}
{%- endcapture -%}

{% assign url_params = context.location.href | extract_url_params: url_template %}

{%- query_graph 'modules/dashboard_blog/get_blog_instance', result_name: bi, scope: 'blog', slug: url_params.blog_slug, enabled: 'true' -%}
{% assign blog_instance = bi.customizations.results.first %}

{% if url_params.blog_slug != blank and url_params.post_slug != blank and blog_instance %}

  {% assign blog_url = '/blog/' | append: url_params.blog_slug %}
  {% assign today = 'now' | date: '%F' %}
  {%- query_graph 'modules/dashboard_blog/get_blog_posts', result_name: g, published_at_lte: today, blog_instance_id: blog_instance.id, slug: url_params.post_slug  -%}
  {% assign blog_post = g.customizations.results.first %}

  {%- if blog_post -%}
    {% content_for 'meta_title' %}
      {{ blog_post.title }}
    {% endcontent_for %}

    {%- capture post_meta -%}
      by <b>{{ blog_post.author_name }}</b>
      |
      {{ blog_post.published_at | localize: 'long' }}
    {%- endcapture -%}
    {% assign image_url = blog_post.hero_image.original | remove: "thumb_" %}
    {%- include 'modules/dashboard_blog/blog/hero-post',
      title: blog_post.title,
      subtitle: post_meta,
      img_path: image_url
      -%}

    <div class="o-section">

      <div class="c-layout o-container o-container--narrow">

        <div class="c-layout__main">

          <article class="c-article o-component">

            <div class="c-article__content">
              {{ blog_post.content  }}
            </div>

            <footer class="c-article__footer">

              {% include 'modules/dashboard_blog/blog/share-list',
                title: 'Share this article',
                text:  blog_post.title,
                page_url: url
              %}

              {%- include 'modules/dashboard_blog/blog/topics',
                blog_url: blog_url
                tags: blog_post.tags
              -%}

            </footer>

          </article>

          {%- include 'modules/dashboard_blog/blog/user',
            img_path: blog_post.author_avatar.thumb,
            name: blog_post.author_name,
            description: blog_post.author_biography
          -%}

          {%- include 'modules/dashboard_blog/blog/siblings-nav' -%}

          {%- include 'modules/dashboard_blog/blog/comments',
            page_url: url
          -%}

        </div>

      </div>

    </div>

    {%- include 'modules/dashboard_blog/blog/posts-section',
      section_title: 'Related Articles',
      related_tags: blog_post.tags,
      except_id: blog_post.id
    -%}

    {% assign user_id = blog_instance.user.id | plus: 0 %}
    {%- if current_user.id == user_id -%}
      {% assign edit_post_href = '/blog/posts/edit/' | append: blog_post.id %}
      {%- include 'modules/dashboard_blog/blog/flying-button',
        btn_text: 'Edit',
        btn_href: edit_post_href,
        btn_icon: 'pencil2'
      -%}
    {%- endif -%}
  {%- else -%}
    {%- include 'modules/dashboard_blog/blog/hero', title: 'Blog Post not found' -%}
  {%- endif -%}
{%- else -%}
  {%- include 'modules/dashboard_blog/blog/hero', title: 'Blog is not enabled' -%}
{%- endif -%}
