<div class="c-hero c-hero--bottom" data-src="{{ img_path }}" data-lazy-load>
  <div class="c-hero__container o-container">
    {%- if title -%}
      <h1 class="c-hero__title">{{ title }}</h1>
    {%- endif -%}

    {%- if subtitle -%}
      <div class="c-hero__subtitle">{{ subtitle }}</div>
    {%- endif -%}
  </div>
</div>
