{% assign posts_list_class = 'c-posts-list' %}

{%- if is_grid_view  == 'true' -%}
  {%- capture posts_list_class -%}{{ posts_list_class }} c-posts-list--grid{%- endcapture -%}
{% endif -%}

{%- if grid_view_cols -%}
  {%- capture posts_list_class -%}{{posts_list_class }} c-posts-list--cols-{{ grid_view_cols }}{%- endcapture -%}
{%- endif -%}

<div class="{{ posts_list_class }}">

  {% for post in posts %}

    {% if feature_first and forloop.first %}
      {% assign is_featured_flag = true %}
    {% else %}
      {% assign is_featured_flag = false %}
    {% endif %}

    {%- include 'modules/dashboard_blog/blog/post',
      post_item: post,
      is_featured: is_featured_flag,
      slug: instance_slug
    -%}

  {% endfor %}

</div>
