{% assign current_tags = params.tags | url_decode %}
{%- for tag in tags -%}
  {%- if current_tags contains tag -%}
    {% assign tag_with_comma = tag | append: ',' %}
    {% assign link_tags = current_tags | remove: tag_with_comma | remove: tag |  split: ',' %}
  {%- else -%}
    {%- if params.tags -%}
      {% assign link_tags = current_tags | append: ',' | append: tag | split: ',' %}
    {%- else -%}
      {% assign link_tags = tag | split: ',' %}
    {%- endif -%}
  {%- endif -%}
  {%- if link_tags == blank -%}
    {% assign tag_query = "" %}
  {% else %}
    {% assign link_tags_encoded = link_tags | join: ',' | url_encode %}
    {% assign tag_query = "?tags=" | append: link_tags_encoded %}
  {%- endif -%}
  <a href="{{ context.location.href }}{{ tag_query }}">{% if current_tags contains tag %}[X]{% endif %}{{ tag | capitalize }}</a>
{%- endfor -%}
