{% if tags.size > 0  %}
  <ul class="c-tags o-component">

    {%- for tag in tags -%}
      <li class="c-tags__item">

        <a class="c-tags__link" href="/blog/category/{{ tag | replace: ' ', '-'  }}">
          {{ tag }}
        </a>

      </li>
    {%- endfor -%}

  </ul>
{% endif %}
