<div class="c-user o-component o-component--border-top o-component--border-bottom">

  {%- if img_path -%}
    <div class="c-user__picture">

      <img src="{{ img_path }}" alt="{{ name }} avatar" />

    </div>
  {%- endif -%}

  <div class="c-user__body">

    <div class="c-user__title">{{ name }}</div>

    <div class="c-user__text">{{ description }}</div>

  </div>

</div>
