---
name: reset_password
resource: User
resource_owner: anyone
flash_notice: 'Your password has been changed!'
redirect_to: /
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      presence:
        message: 'You need to enter your password'
      length:
        minimum: 8
        message: ' Password is too short, required minimum is 8 characters'
authorization_policies:
  - modules/signup/token_is_valid
  - modules/signup/not_logged_in
---
{% parse_json "utils" %}{%- include 'modules/utils/init' -%}{% endparse_json %}

{% form html-novalidate: '', html-class: 'with-action-bar' %}
  {% include utils.form_errors %}

  <input name="token" value="{{ context.params.token }}" type="hidden">
  <input name="email" value="{{ form.email }}" type="hidden">
  {%-
    include utils.input with form.fields.password, type: 'password',
      label: 'Set new password',
      container_attrs: 'data-field-password',
      autocomplete: 'new-password',
      fieldClass: 'has-password-strength',
      id: 'form-password',
      required: true,
      todo-custom_hint: 'Use at least 8 characters. To increase the password strength, use at least 1 digit or special character.',
      todo-custom_html: '<span class="form-password-reveal form-field-addon is-bottom" data-password-reveal data-state="password"><span data-password-reveal-label>Show</span> password</span>'
      custom_html: ''
  -%}

  {%- include utils.submit_tag with 'Reset password', class: "btn btn-info" -%}
{% endform %}
