<br>
<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link {% if context.location.href  == '/dashboard/blog' %}active{% endif %}" href="/dashboard/blog">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if context.location.href  == '/dashboard/posts/new' %}active{% endif %}" href="/dashboard/posts/new">New post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if context.location.href  == '/dashboard/blog/settings' %}active{% endif %}" href="/dashboard/blog/settings">Blog Settings</a>
  </li>
</ul>
