<div class="o-widget">

  {% if widget_title %}
    <div class="o-widget__title">{{ widget_title }}</div>
  {% endif %}

  {% assign current_tags = params.tags | url_decode %}

  <ul class="nav nav-pills">
    {%- for tag in tags -%}
      {%- if current_tags contains tag -%}
        {% assign tag_with_comma = tag | append: ',' %}
        {% assign link_tags = current_tags | remove: tag_with_comma | remove: tag |  split: ',' %}
      {%- else -%}
        {%- if params.tags -%}
          {% assign link_tags = current_tags | append: ',' | append: tag | split: ',' %}
        {%- else -%}
          {% assign link_tags = tag | split: ',' %}
        {%- endif -%}
      {%- endif -%}
      {%- if link_tags == blank -%}
        {% assign tag_query = "" %}
      {% else %}
        {% assign link_tags_encoded = link_tags | join: ',' | url_encode %}
        {% assign tag_query = "?tags=" | append: link_tags_encoded %}
      {%- endif -%}

      <li class="nav-item">
        <a class="nav-link"  href="{{ context.location.href }}{{ tag_query }}">
          {{ tag }}
        </a>

      </li>
    {%- endfor -%}

  </ul>

</div>
