---
slug: 'dashboard/blog/settings'
format: html
layout_name: 'modules/dashboard/dashboard'
authorization_policies:
  - 'modules/dashboard_blog/instance_blog_edition'
  - 'modules/dashboard/dashboard_access'
---
{%- query_graph 'modules/dashboard_blog/get_blog_instance', result_name: bi -%}
{% assign blog = bi.customizations.results.first %}

{%- include 'modules/dashboard_blog/blog/admin/navigation' -%}

<section class="o-section">
  <div class="o-container">
    {% include_form "modules/dashboard_blog/blog_settings",
      resoruce: "modules/dashboard_blog/blog_instance",
      id: blog.id,
      scope: 'blog'
    %}
  </div>
</section>
