{% comment %}
  Required params:
    forId: string
    label: string

  Optional params
    required: boolean
    labelClass: string
    hint: string

{% endcomment %}
<label for="{{ forId }}" class="control-label{% if labelClass %} {{ labelClass }}{% endif %}">
  {{ label }}
  {% unless required %}<span class="control-label__optional">(Optional)</span>{% endunless %}

  {%- if hint != blank -%}
    <span class="help-block">{{ hint | html_safe }}</span>
  {%- endif -%}
</label>
