---
slug: dashboard/google_analytics
layout_name: modules/dashboard/dashboard
authorization_policies:
- "modules/dashboard/dashboard_access"
---
{% query_graph "modules/dashboard/get_google_analytics", result_name: "ga" %}
{% assign ga_id = ga.customizations.results.last.id %}
<div class="pt-4">
  <div class="col-lg-6 col-md-8 col-sm-12 col-12">
    {%
      include_form "modules/dashboard/google_analytics_form",
      id: ga_id
    %}
    {% if ga_id != blank and false %}
      {%
        include_form "modules/dashboard/delete_google_analytics_form",
        id: ga_id
      %}
    {% endif %}
  </div>
</div>
