<!DOCTYPE html>
<html lang="en">
<head>
  {%- include 'modules/dashboard_blog/layouts/blog/csrf' %}
  {%- include 'modules/dashboard_blog/layouts/blog/meta-tags' %}
  {%- include 'modules/dashboard_blog/layouts/blog/prefetch' %}
  {%- include 'modules/dashboard_blog/layouts/blog/favicon' %}
  {%- include 'modules/dashboard_blog/layouts/blog/stylesheets' -%}
  {%- include 'modules/dashboard_blog/layouts/blog/preload' -%}
  {%- include 'modules/dashboard_blog/layouts/blog/page-title' -%}
  {%- include 'modules/dashboard_blog/layouts/blog/page-description' -%}
  {%- include 'modules/dashboard_blog/layouts/blog/google_analytics' -%}

  {% yield 'head_content' %}
</head>

<body class="{% if is_logged_in %}logged-in{% endif %}">
  {% include 'modules/dashboard_blog/layout/header' %}
  {% include 'modules/dashboard_blog/layouts/blog/fb' %}
  {% include 'modules/dashboard_blog/layouts/blog/icons' %}
  {% include 'modules/utils/flash_messages' %}

  <main class="">
    {{ content_for_layout }}
    {%- include "modules/dashboard_blog/layout/footer" -%}
  </main>

  {%- include 'modules/dashboard_blog/layouts/blog/javascripts' -%}
</body>
</html>
