<div class="footer">
  <div class="wrapIt">
    <div class="col">
      <h2><span style="font-size: 0.7em;">Chief Herder:</span> <br />
        Brendan Byrne</h2>
      <img src="{{ 'images/brendan.jpg' | asset_url }}" alt="Brendan Byrne" style="float: right;margin-left: 10px;max-width:  93px;border-radius:  200px;">
      <p>Brendan excels at his ability to simplify the internet and create effective online marketing programs for clients. With digital strategy integral to the growth and success of all modern businesses, Brendan develops comprehensive, integrated, results-orientated online programs for clients, to help them grow their businesses. <a href="/digital-strategist-brendan-byrne">Read more</a></p>
    </div>
    <div class="col">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/online">Three Keys </a></li>
        <li><a href="/consulting">Services </a></li>
        <li><a href="/_blog/online-business-growth">Blog</a></li>
        <li><a href="/contact-us.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="col last">
      <h2><a href="/contact-us.html">Contact Us</a></h2>
      <div class="socMedia" style="margin-bottom:20px;"> <a class="fb" target="_blank" href="http://www.facebook.com/oneorangecow">Facebook</a> <!-- <a class="tw" target="_blank" href="https://twitter.com/OneOrangeCow">Twitter</a> --> <a class="in" target="_blank" href="http://www.linkedin.com/company/one-orange-cow">LinkedIn</a> <a class="gp" target="_blank" href="https://plus.google.com/117781716255416610456/posts">Google+</a> </div>
      <p><a href="https://www.fullstory.com/" target="_blank"><img src="{{ 'images/Partner-short-560.png' | asset_url }}" border="0"></a></p>
    </div>
    <div class="clearAll"></div>
  </div>
</div>
<div class="copyright">
  <div class="wrapIt"> &copy; Copyright 2018 One Orange Cow Pty Ltd. ABN: 47 162 885 323 | <span><a href="/terms-conditions.html">Terms and Conditions</a> | <a href="/privacy-policy.html">Privacy</a> | <a href="/online-business-growth">Blog</a></span></div>
</div>