<div class="header home">
  <div class="wrapIt"> <a href="/"><img src="{{ 'images/logo-100.png' | asset_url }}" style="max-height: 79px" /></a>
    <nav>
      <!-- <script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js?vs=b339.r524375-phase1"></script><!-- Dynamic Menu Begin CSS Output -->
      <div id="cat_1323115_divs">
        <ul id="nav_1323115">
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/online">Three Keys</a>
            <ul id="navsub_1323115_646389">
              <li class="sub-menu"><a href="/online/more-visitors.html">More Visitors</a></li>
              <li class="sub-menu"><a href="/online/conversion-rate.html">More Sales</a></li>
              <li class="sub-menu"><a href="/online/repeat-customers.html">Repeat Customers</a></li>
            </ul>
          </li>
          <li><a href="/consulting">Services</a>
            <ul id="navsub_1323115_646400">
              <li><a href="/digital-strategy-consulting">Digital Strategy Consulting</a></li>
              <li><a href="/website-design-and-development">Website Design and Development</a></li>
              <li class="sub-menu"><a href="/consulting/online-growth-management.html">Online Growth Management</a></li>
              <li class="sub-menu"><a href="/consulting/special-projects.html">Special Projects</a></li>
              <li class="sub-menu"><a href="/consulting/tools-of-the-trade.html">Tools of The Trade</a></li>
              <li class="sub-menu"><a href="/examples.html">Examples of Our Work</a></li>
            </ul>
          </li>
          <li><a href="/_blog/online-business-growth">Blog</a></li>
          <li><a href="/contact-us.html">Contact Us</a></li>
        </ul>
      </div>
      <script type="text/javascript">
      // catSetSelectedCSSItem('nav_1323115');
      </script><!-- Dynamic Menu End CSS Output -->
    </nav>
  </div>
</div>

{% if context.page.layout_name == 'ooc_page' %}
<div class="title">
  <div class="wrapIt">
    <h1>{{ context.page.metadata.title }}</h1>
    <div class="clearAll"></div>
  </div>
</div>
{% endif %}