---
slug: dashboard/settings
layout_name: modules/dashboard/dashboard
authorization_policies:
- "modules/dashboard/dashboard_access"
---
{% query_graph "modules/dashboard/get_settings", result_name: "s" %}
{% assign settings_id = s.customizations.results.last.id %}
<div class="pt-4">
  <div class="col-lg-6 col-md-8 col-sm-12 col-12">
    {%
      include_form "modules/dashboard/settings_form",
      resource_type: "dashboard_settings",
      id: settings_id
    %}
  </div>
</div>
