---
slug: about
layout_name: my_custom_layout
metadata:
  pagetitle: About PlatformOS Learning
  desc: Aboyt my learning progress
---

<h1>{{ page.metadata.pagetitle }}</h1>

<p class="subtitle">{{ page.metadata.desc }}</p>
<p>You are visiting about page.</p>

<h4>Back</h4>
<a href="/my-page">&larr; Back to My Page</a>