---
slug: online/conversion-rate
layout_name: ooc_page_2col
metadata:
  pagetitle: Digital Marketing Strategist
  title: Increasing Site Conversion to get More Sales
---
<p>
  Conversion rate is usually measured as a percentage of visitors to sales. Although sometimes it makes sense to use a sub-set or a different goal, for example,
  you may compare the conversion rate on a specific advertising source, or you may look at forms completed instead of sales, if that is all you
  can accurately measure.</p>
<p>
  Tracking this value, then making changes to your site allows you to base changes to the site on empirical data, instead of one or another person’s
  point of view.
</p>
<p>
  Conversion rates can some times provide the biggest improvement to your bottom line. Understanding the road blocks that your website creates, and monitoring
  and measuring changes can show dramatic improvements to your profits.
</p>
<p>
  One Orange Cow select from a various number of tools available to work on your conversion. The tools need to match your budget, and the potential return
  on investment. At a basic level we often use Google ‘Content Experiments’. This page explains page experiments very well:
  <a href="https://support.google.com/analytics/answer/1745147" target="_blank">https://support.google.com/analytics/answer/1745147</a>
</p>
<p> <a href="/online/repeat-customers.html" class="nextPuzzle">Learn about the next Puzzle Piece</a>
</p>