---
slug: mobile-responsive-design
layout_name: blog-detail
metadata:
  pagetitle: Mobile Responsive Design
---

<h1>{{ context.page.metadata.pagetitle }}</h1>

<p>Are you getting bombarded with emails about Google’s changes to rankings for mobile search? Even we are getting emails and LinkedIn offers to update our website (which has been optimised for mobile for 2 years now) which leaves me wondering about the the lead generation planning of those companies - but I digress.</p> <p>Change for changes sake is not really the best strategy when it comes to marketing. If you are going to go to the effort of making your site mobile friendly or ‘responsive’ then it is a great time to stop and consider if you website actually works for you.&nbsp; <br /> </p> <h2>How do you know if your website is working?</h2> <p>This will depend on how you grow your business, but you should have a clear goal for your website. Treat it like a sales person. Give it KPI’s and set goals for it. Teach it new things and make sure it is always up to date with your latest products and services. Some of the goals we set for our clients websites are;</p> <ul> <li>Number of Visitors <br /> </li> <li>Number of Contact Us forms completed <br /> </li> <li>Number of Phone calls <br /> </li> <li>Number of Product sales <br /> </li> <li>number of PDF downloads <br /> </li> </ul> <p>When you have a clear goal, then the design of the site can follow. Messing around with an existing design, that does not work will not help your business.</p> <p>If you need help planning or implementing any of these goals in you marketing, <a href="/contact-us.html">Call the Cows.</a> </p> <meta property="og:image" content="http://www.oneorangecow.com/images/blog/wires-responsive-design.jpg">