---
slug: /
layout_name: my_custom_layout
metadata:
  pagetitle: PlatformOS Learning
  desc: My learning progress
  tags: ["platformOS","headless CMS","liquid template","learning"]
  home: yes
---

{% include 'dynamic_content' %}

<p>I have listed my learning bellow.</p>
<ol>
	<li><a href="/">Pages</a></li>
	<li><a href="/metadata">Metadata</a></li>
	<li><a href="/layout">Layout</a></li>
	<li><a href="/response-headers.json" target="_blank">Response Headers</a></li>
	<li><a href="/redirect" target="_blank">Redirect</a></li>
	<li><a href="/where-am-i" target="_blank">Error 404</a></li>
	<li><a href="/context">Context Variable</a></li>
</ol>