---
slug: primary-market
layout_name: 1col
metadata:
  pagetitle: Primary Market
---

<h1>{{ context.page.metadata.pagetitle }}</h1>

<p>New client <a href="http://www.primarymarket.com.au" title="Primary Market Australia - Website">PrimaryMarket.com.au</a> has launched a fantastic new online business where people can trade illiquid assets.</p> <p>In the past, finding buyers for businesses, private shareholdings, and pre-IPO's has been difficult for both buyers and sellers. <a href="http://www.primarymarket.com.au" title="Primary Market's new website">PrimaryMarket</a> makes it easy for both parties.</p> <p>A similar business model in the US, SecondMarket.com was recently acquired by NASDAQ Private Market Products, with $20 billion of tough to trade assets on its books.</p> <p>One Orange Cow is proud of the system we have developed for the first version of their website. </p>