---
slug: online/repeat-customers
layout_name: ooc_page_2col
metadata:
  pagetitle: Digital Marketing Strategist
  title: Increasing Frequency of Repeat Sales from Existing Customers
---
<p>Another area of work that is missed, by the majority of businesses is the monitoring and building of repeat customers. </p>
<p>
  Ensuring you are consistently improving the number of repeat customers helps to check that the service or products you are offering are successful, and
  it is considered as much as 5x easier to encourage these people back than try to find new customers.</p>
<p>
  There are a few businesses that do not have the option of a repeat customer, but that does not mean that a good communication plan after the sale should
  be ignored. In fact, it is probably more important in helping your business grow through simple methods that can help your customer and your
  business.</p>