---
slug: tips-for-a-great-website
layout_name: 1col
metadata:
  pagetitle: Tips for a great website
---

<h1>{{ context.page.metadata.pagetitle }}</h1>

<p>This list is not the ONLY things that matter, they were just top of mind for me when I needed to write some ideas down.</p> <br /> <br /> <ul> <li>Within SECONDS a visitor needs to know what the page (or site) is about. It has to be abundantly clear.</li> <li>Your main goal for each page should be obvious. e.g.; buy now or read more, or sign up.</li> <li>Explain your WHY often. Your why you do what you do will help people connect with you - if it is a good why.</li> <li>&ldquo;If in doubt, test it out&rdquo; If you think something might work, testing is the best way to get real results.</li> <li>Implement a compelling offer to customers to entice them back to your site after a purchase/sign up.</li> <li>If you find yourself checking out the competition&rsquo;s website for idea&rsquo;s, you are only a follower. Become a leader by doing something different.</li> <li>Be prepared to STANDOUT in the herd. Personality goes a long way to being remembered (for the right reasons)</li> <li>Make sure the experience of working with you creates memorable times. Some call this a &lsquo;WOW factor&rsquo;.</li> </ul> <p>Let me know which ones you want more information about in the comments.</p>