---
name: send_recover_password # P40EDM
to: "{{ form.email }}"
delay: 0
enabled: true
trigger_condition: true
from: 'NoReply<noreply@example.com>'
reply_to: ''
cc:
bcc:
subject: Reset password instructions
layout_path: ''
---
{%- query_graph 'modules/signup/get_user_with_password_token', email: form.email, result_name: 'g' -%}

{% assign user = g.people.results.first %}
{% assign first_name =  user.first_name %}
{% assign message_type = 'account' %}
{% assign heading = 'The home of getting things done' %}

<p>
  To reset your password please <a href="https://{{ context.location.host }}/reset-password?token={{ user.default.password_token | url_encode }}&email={{ user.email | url_encode }}">click here: reset password</a>.<br/><br/>
</p>
<p>
  This link is active for 48 hours. After that, you will need to resend the verification email.
</p>
