{%- query_graph 'modules/dashboard/dashboard_current_user', result_name: dashboard_current_user -%}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Home</a>
  <ul class="nav navbar-nav flex-row float-right">
    <li class="nav-item p-2 text-light">
      {{ dashboard_current_user.current_user.first_name }}
    </li>
    {% if dashboard_current_user.current_user.dashboard.admin == "true" %}
      <li class="nav-item text-nowrap text-light">
        <a class="btn btn-primary ml-auto mr-2" href='/dashboard'>Dashboard</a>
      </li>
    {% endif %}
    {% if dashboard_current_user.current_user %}
      <li class="nav-item text-nowrap text-light">
        {% include_form "modules/signup/log_out" %}
      </li>
    {% else %}
      <li class="nav-item text-nowrap text-light">
        <a href="/log-in" class="btn btn-primary">Log In</a>
      </li>
    {% endif %}
  </ul>
</nav>

