---
name: log_in
fields:
  email:
    presence: true
  password:
    presence: true
resource: Session
authorization_policies: ""
return_to: '{% query_graph "modules/signup/get_user_with_email", email: form.email %}{% if g.people.results.first.dashboard %}/dashboard{% else %} / {% endif %}'
default_payload: "{}"
---
{% parse_json "utils" %}
  {%- include 'modules/utils/init' -%}
{% endparse_json %}

{% comment %}Temp have for Device problem {% endcomment %}
{% if form.errors.password != blank %}
  {% assign password_error = "Invalid email or password" %}
{% endif %}

{% form %}
  {% include utils.form_errors %}
  {% include utils.flash_messages %}
  {% include utils.input with form.fields.email, type: "text" %}
  {% include utils.input with form.fields.password, type: 'password', error: password_error %}
  {% include utils.submit_tag with 'Log In', class: 'btn btn-primary btn-lg', disable_with: 'Logging in...' %}

  <p>
    <small>Forgot password? <a href="/recover-password">Reset your password</a></small>
    <small>New user? <a href="/sign-up">Create new account</a></small>
  </p>
{% endform %}
