---
slug: edit-profile
format: html
layout_name: modules/signup/application
name: Edit Profile
---

{% content_for 'meta_title' %}
Edit Profile
{% endcontent_for %}

{% query_graph "current_user", result_name: u %}

<div class="container page__sign-up">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      {% include_form "modules/signup/edit_profile_form", id: u.current_user.id %}
    </div>
  </div>
</div>
