---
slug: log-in
format: html
layout_name: modules/signup/application
---
{%- content_for 'meta_title' -%}
Log In
{%- endcontent_for -%}

<div class="container page__sign-in">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <h1>Log In</h1>
      {% include_form 'modules/signup/log_in', resource_type: 'User', id: 'new', return_to: params.return_to %}
    </div>
  </div>
</div>

