---
slug: sign-up
format: html
layout_name: modules/signup/application
name: User Signup
---

{%- content_for 'meta_title' -%}
Register Now
{%- endcontent_for -%}

{% query_graph 'modules/signup/current_user', result_name: u %}

<div class="container page__sign-up">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 pb-5">
      {% if u.current_user == blank %}
        <h1>New User</h1>
        {% include_form "modules/signup/user_form", resource_type: "User" %}
      {% else %}
        {% include 'modules/signup/already_signed_up', user: u %}
      {% endif %}
    </div>
  </div>
</div>
