<!DOCTYPE html>
<html lang="en" data-instance-id="{{ platform_context.instance_id }}">
  <head>
    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | asset_url }}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{{ 'images/nearme/about-us/N2.jpg' | asset_url }}" sizes="60x60">
    {% include 'modules/signup/layouts/application/stylesheets' %}
    {% yield 'head_content' %}
  </head>

  <body class="signup {% if is_logged_in %}logged-in{% endif %}">

    <div class="main">
      {{ content_for_layout }}
    </div>

    {% include 'modules/signup/layouts/application/javascripts' %}
  </body>
</html>
